@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
* {
  /* background-color: brown; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}
section{
    width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
    background-image: url(images/hero_bg-1.jpg);
}
.container {
  
  
  

  /* background-color: #fff ; */
  padding: 20px 50px;
}
ul,
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 55px;
}
.banner {
  /* background-color: #fff ; */
  margin-top: 100px;
  width: 55%;
}
.container::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.582);
    position: absolute;
    top:0;
    left: 0%;
    width: 30%;
    height: 100vh;
    z-index: -1;
}
h1{
    font-size: 3em;
    margin-bottom: 50px;
}
p{
    margin-bottom: 40px;
}
.btn{
    display: inline-block;
    background-color: red;
    padding: 12px 43px;
    background-color: transparent;
    border:1px solid yellow;
    color: yellow;
}

